flows.json
[{"id":"841f05e4.1e2518","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"e8577217.f1dc6","type":"serial in","z":"841f05e4.1e2518","name":"","serial":"d3b75379.68055","x":150,"y":260,"wires":[["8f127b9d.dbf038","9201a9ad.875638"]]},{"id":"8f127b9d.dbf038","type":"debug","z":"841f05e4.1e2518","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","statusVal":"","statusType":"auto","x":620,"y":340,"wires":[]},{"id":"f88ec030.83e1e","type":"ui_gauge","z":"841f05e4.1e2518","name":"Ist-Temp. Kessel","group":"67c47ca1.9aa2f4","order":5,"width":0,"height":0,"gtype":"gage","title":"Kessel","label":"°C","format":"{{value}}","min":0,"max":"110","colors":["#1034ea","#00b500","#ca3838"],"seg1":"35","seg2":"90","x":920,"y":580,"wires":[]},{"id":"d0b1f47.754b608","type":"change","z":"841f05e4.1e2518","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"IST-Temp. Kessel: ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":620,"wires":[["f88ec030.83e1e"]]},{"id":"9201a9ad.875638","type":"switch","z":"841f05e4.1e2518","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"IST-Temp. Kessel","vt":"str"},{"t":"cont","v":"IST-Temp. WW","vt":"str"},{"t":"cont","v":"IST-Temp. Vorlauf","vt":"str"},{"t":"cont","v":"IST-Flag Brenner an","vt":"str"},{"t":"cont","v":"SOLL-Temp. Raum","vt":"str"},{"t":"cont","v":"SOLL-Temp. WW","vt":"str"},{"t":"cont","v":"IST-Temp. Raum","vt":"str"},{"t":"cont","v":"IST-Temp. Außen","vt":"str"}],"checkall":"true","repair":false,"outputs":8,"x":390,"y":720,"wires":[["d0b1f47.754b608"],["49dfd316.45109c"],["ae8c4238.73a0d"],["1400795d.7ef597"],["6a662f98.9f724"],["1ab9d243.5cc46e"],["c378d4d7.425298"],["1116ab3e.8b54d5"]]},{"id":"175d2cee.b38313","type":"ui_gauge","z":"841f05e4.1e2518","name":"Ist-Temp. Warmwasser","group":"67c47ca1.9aa2f4","order":3,"width":0,"height":0,"gtype":"gage","title":"Warmwasser","label":"°C","format":"{{value}}","min":0,"max":"110","colors":["#1034ea","#00b500","#ca3838"],"seg1":"35","seg2":"80","x":920,"y":660,"wires":[]},{"id":"49dfd316.45109c","type":"change","z":"841f05e4.1e2518","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"IST-Temp. WW: ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":700,"wires":[["175d2cee.b38313"]]},{"id":"674fd6a4.70b0c8","type":"ui_gauge","z":"841f05e4.1e2518","name":"Ist-Temp. Vorlauf","group":"67c47ca1.9aa2f4","order":4,"width":0,"height":0,"gtype":"gage","title":"Vorlauf","label":"°C","format":"{{value}}","min":0,"max":"110","colors":["#1034ea","#00b500","#ca3838"],"seg1":"35","seg2":"80","x":950,"y":760,"wires":[]},{"id":"ae8c4238.73a0d","type":"change","z":"841f05e4.1e2518","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"IST-Temp. Vorlauf: ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":720,"y":780,"wires":[["674fd6a4.70b0c8"]]},{"id":"e02cdd09.2d396","type":"ui_switch","z":"841f05e4.1e2518","name":"Brenner an","label":"Brenner an","tooltip":"","group":"5cd5b11e.81932","order":3,"width":0,"height":0,"passthru":true,"decouple":"false","topic":"topic","topicType":"msg","style":"","onvalue":"true","onvalueType":"bool","onicon":"","oncolor":"","offvalue":"false","offvalueType":"bool","officon":"","offcolor":"","animate":false,"x":1050,"y":840,"wires":[[]]},{"id":"b502b763.1692c8","type":"change","z":"841f05e4.1e2518","name":"false","rules":[{"t":"set","p":"payload","pt":"msg","to":"false","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":790,"y":860,"wires":[["e02cdd09.2d396"]]},{"id":"1400795d.7ef597","type":"switch","z":"841f05e4.1e2518","name":"","property":"payload","propertyType":"msg","rules":[{"t":"cont","v":"IST-Flag Brenner an: false","vt":"str"},{"t":"cont","v":"IST-Flag Brenner an: true","vt":"str"}],"checkall":"true","repair":false,"outputs":2,"x":630,"y":860,"wires":[["b502b763.1692c8"],["f4e07e98.f6c5"]]},{"id":"f4e07e98.f6c5","type":"change","z":"841f05e4.1e2518","name":"true","rules":[{"t":"set","p":"payload","pt":"msg","to":"true","tot":"bool"}],"action":"","property":"","from":"","to":"","reg":false,"x":820,"y":920,"wires":[["e02cdd09.2d396"]]},{"id":"bf77a8c9.cf23d8","type":"ui_gauge","z":"841f05e4.1e2518","name":"Soll-Temp. Raum","group":"5c6a142a.8a341c","order":0,"width":0,"height":0,"gtype":"gage","title":"Raum","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#1034ea","#00b500","#e6321e"],"seg1":"19","seg2":"26","x":930,"y":980,"wires":[]},{"id":"6a662f98.9f724","type":"change","z":"841f05e4.1e2518","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"SOLL-Temp. Raum: ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":660,"y":980,"wires":[["bf77a8c9.cf23d8"]]},{"id":"f925f7b1.cecc48","type":"ui_gauge","z":"841f05e4.1e2518","name":"Soll-Temp. Warmwasser","group":"5c6a142a.8a341c","order":0,"width":0,"height":0,"gtype":"gage","title":"Warmwasser","label":"°C","format":"{{value}}","min":0,"max":"110","colors":["#1034ea","#00b500","#ca3838"],"seg1":"35","seg2":"80","x":930,"y":1060,"wires":[]},{"id":"1ab9d243.5cc46e","type":"change","z":"841f05e4.1e2518","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"SOLL-Temp. WW: ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":680,"y":1060,"wires":[["f925f7b1.cecc48"]]},{"id":"ab616bd0.4c1eb8","type":"ui_gauge","z":"841f05e4.1e2518","name":"Ist-Temp. Außen","group":"67c47ca1.9aa2f4","order":1,"width":0,"height":0,"gtype":"gage","title":"Außen","label":"°C","format":"{{value}}","min":"-20","max":"40","colors":["#1034ea","#00b500","#ca3838"],"seg1":"0","seg2":"30","x":800,"y":500,"wires":[]},{"id":"1116ab3e.8b54d5","type":"change","z":"841f05e4.1e2518","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"IST-Temp. Außen: ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":540,"wires":[["ab616bd0.4c1eb8"]]},{"id":"b9ecce07.7cbac","type":"ui_gauge","z":"841f05e4.1e2518","name":"Ist-Temp. Raum","group":"67c47ca1.9aa2f4","order":2,"width":0,"height":0,"gtype":"gage","title":"Raum","label":"°C","format":"{{value}}","min":0,"max":"50","colors":["#1034ea","#00b500","#ca3838"],"seg1":"19","seg2":"26","x":800,"y":420,"wires":[]},{"id":"c378d4d7.425298","type":"change","z":"841f05e4.1e2518","name":"","rules":[{"t":"change","p":"payload","pt":"msg","from":"IST-Temp. Raum: ","fromt":"str","to":"","tot":"str"}],"action":"","property":"","from":"","to":"","reg":false,"x":540,"y":460,"wires":[["b9ecce07.7cbac"]]},{"id":"d3b75379.68055","type":"serial-port","serialport":"COM4","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"67c47ca1.9aa2f4","type":"ui_group","name":"Ist-Temperaturen","tab":"e7778038.55d68","order":2,"disp":true,"width":"6","collapse":true},{"id":"5cd5b11e.81932","type":"ui_group","name":"Status","tab":"e7778038.55d68","order":1,"disp":true,"width":"6","collapse":false},{"id":"5c6a142a.8a341c","type":"ui_group","name":"Soll-Temperaturen","tab":"e7778038.55d68","order":3,"disp":true,"width":"6","collapse":false},{"id":"e7778038.55d68","type":"ui_tab","name":"Heizung","icon":"dashboard","order":1,"disabled":false,"hidden":false}]